{% extends "layout.html" %}

{% block title %}Daily Nutrition{% endblock %}

{% block content %}
  
  <form action="/next2" method="POST">
  <label for="comment">What did you have for breakfast?:</label>
      <textarea name='data' class="form-control" rows="5" id="comment"></textarea>
  
  
  <button type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
  </form>
  <form action="/home" method="POST">
  <button type="submit" class="btn btn-outline-danger btn-lg">Home</button>
  </form>
  
{% endblock %}










      