{% extends "layout.html" %}

{% block title %}School Info{% endblock %}

{% block content %}
  <h1>English</h1>
  <form action="/next3" method="POST">
  
    <label class="radio-inline">
      <input type="radio" name="data" value="English I" >English I
    </label>
	<br>
    <label class="radio-inline">
      <input type="radio" name="data" value="English II" > English II
    </label>
	<br>
	    <label name= 'data' class="radio-inline">
      <input type="radio" name="data" value="English Lang AP" >English Lang AP
    </label> 
	<br>
    <label class="radio-inline">
      <input type="radio" name="data" value="English Literature AP" >English Literature AP
    </label>
	<br>
    <label class="radio-inline">
      <input type="radio" name="data" value="English 101" >English 101
    </label>
	<br>
	
  
      
      <button type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
  </form>
  <form action="/next3" method="POST">
  <button type="submit" class="btn btn-outline-danger btn-lg">Home</button>
  </form>
 
  
{% endblock %}
