{% extends "layout.html" %}

{% block title %}School Info{% endblock %}

{% block content %}
  <h1>Science</h1>
  <form action="/next5" method="POST">
      
      <label class="radio-inline">
      <input type="radio" name="data" value=" AP Physics" >AP Physics
    </label>
	<br>
    <label class="radio-inline">
      <input type="radio" name="data" value="Physics" > Physics
    </label>
	<br>
	    <label name= 'data' class="radio-inline">
      <input type="radio" name="data" value="AP Chemistry" >AP Chemistry
    </label> 
	<br>
    <label class="radio-inline">
      <input type="radio" name="data" value="Chemistry" >Chemistry
    </label>
	<br>
    <label class="radio-inline">
      <input type="radio" name="data" value="AP Biology" >AP Biology
    </label>
	<br>
	<label class="radio-inline">
      <input type="radio" name="data" value="Biology" >Biology
    </label>
	<br>
	<label class="radio-inline">
      <input type="radio" name="data" value="APES" >APES
    </label>
	<br>
	<label class="radio-inline">
      <input type="radio" name="data" value="Marine Biology" >Marine Biology
    </label>
	
	  <button type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
  </form>
  <form action="/" method="POST">
  <button type="submit" class="btn btn-outline-danger btn-lg">Home</button>
  </form>
  
{% endblock %}
