{% extends "layout.html" %}

{% block title %}School Info{% endblock %}

{% block content %}
  <p> Weighted Academic GPA </p>
  <form action="/next6" method="POST">

	<input type="textarea" placeholder="Enter" name ="data">
	
	 <p> Unweighted Academic GPA </p>
  

	<input type="textarea" placeholder="Enter" name ="data1">
	
	<button type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
  </form>
  <form action="/" method="POST">
  <button type="submit" class="btn btn-outline-danger btn-lg">Home</button>
  </form>
	  
	   
    
  
{% endblock %}
